.social__list {
  display: flex;
  justify-content: center;
  // margin-bottom: 30px;
}


.social__item {
  & + & {
    margin-left: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $base-white-color;
  fill: $icons-color;
  transition: background-color $transition, fill $transition;
    &:hover,
    &:focus {
      background-color: $accent-color;
      fill: $base-white-color;
    }
}